{%extends 'shopowner/shopowner.html'%}
{%block content%}


{{product.pname}}
{{product.description}}
{{product.cid}}
{{product.sex}}
{{product.dateadded}}
{{product.is_active}}
<img src="/media/{{image.img1}}"></a>
<img src="/media/{{image.img2}}"></a>
<img src="/media/{{image.img3}}"></a>
<img src="/media/{{image.img4}}"></a>
<img src="/media/{{image.img5}}"></a>
<a href="/shopowner/product/update/{{product.id}}">Edit</a>
<a href="/shopowner/product/delete/{{product.id}}">Delete</a>

{%endblock%}