{%extends 'registration/base.html'%}
{%block content%}
<div class="registration">
	<div class="registration_left">
		<h2>new user? <span> create an account </span></h2>
		 <div class="registration_form">
		 <!-- Form -->
			<form id="registration_form" method="post">{%csrf_token%}
				<div>
					<label>
						<input placeholder="email address:" type="email"  tabindex="3" required name="email">
					</label>
				</div>
				<div>
					<label>
						<input placeholder="password" type="password" id="pass1"  tabindex="4" required name="password1">
					</label>
				</div>						
				<div>
					<label>
						<input placeholder="retype password" type="password" id="pass2" name="password2" tabindex="4" onkeyup="checkPass(); return false;" required>
						<span id="confirmMessage" class="confirmMessage"></span>
					</label>
				</div>	
				<div>
					
				</div>
				<!-- {{form.as_p}} -->
				<input type="submit" value="create an account" id="register-submit">
				<div class="forget">
					<a href="#">forgot your password</a>
				</div>
			</form>
			<!-- /Form -->
		</div>
	</div>
	<div class="clearfix"></div>
</div>
	<!-- end registration -->
{%endblock%}